[submodule "wpfui"]
	path = wpfui
	url = https://github.com/pizzaboxer/wpfui.git
[submodule "Resources/Mods/rbxcustom-fontemojis"]
	path = Resources/Mods/rbxcustom-fontemojis
	url = https://github.com/NikSavchenk0/rbxcustom-fontemojis
