name: CI (Debug)
on: [push, pull_request]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '6.0.x'

    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --no-restore

    - name: Publish
      run: dotnet publish -p:PublishSingleFile=true -p:CommitHash=${{ github.sha }} -p:CommitRef=${{ github.ref_type }}/${{ github.ref_name }} -r win-x64 -c Debug --self-contained false .\Bloxstrap\Bloxstrap.csproj

    - name: Upload Artifact
      uses: actions/upload-artifact@v5
      with:
        name: Bloxstrap (Debug) (${{ github.sha }})
        path: .\Bloxstrap\bin\Debug\net6.0-windows\win-x64\publish\*